<header>
    <div class = "left">
        <a href ="/"><img src = "/images/logo/logo.png"></a>
        <ul type ="none">
            <li><a href="#">Dispatch</a></li>
            <li><a href="/tables/techs">Tech</a></li>
            <li><a href="#">Stock</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Vans</a></li>
            <li><a href="#">Helpfull websites</a></li>          
        </ul>
     
    </div>
    <div class = "right">
        <i class="fas fa-user"></i>
        <% if (locals.user) { %>    
        <ul type="none">
            <li><a href="/user/profile">Hello <%= user.username %></a></li>   
            <li><a href="/user/logout">Logout</a></li>       
        </ul>
        <% } else { %>
        <ul type="none">
            <li><a href="/user/login">Login</a></li>          
            <li><a href="/user/register">Register</a></li>          
        </ul>
        <% } %>
         

    </div>
</header>
