<head>
    <%- include('../partials/head') %>
    <title>Times</title>
    </head>
    
    
    <body>
        <%- include('../partials/header') %>
        <main>
            <table class = "content-table">
                <thead>
                    <tr>
                        <th>Tech Name</th>
                        <th>Sunday</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wendsday</th>
                        <th>Thursday</th>
                        <th>Firday</th>
                        <th>Saturday</th>
                    </tr>
    
                </thead>

            </table>
        </main>
        <%- include('../partials/footer') %>
    </body>