<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>ICH</title>
</head>
<body>
        <%- include('partials/header') %>
        <main>
            <h1 id = "main">Who can do what?</h1>
            <section class = "cards">
            <a href = "#"><div class = "card">
                    <i class="fas fa-car"></i>
                    <h1>Search by car type</h1>
                </div>
            </a>

            <a href = "#"><div class = "card">
                    <i class="fas fa-lock"></i>
                    <h1>Search by tech</h1>
                </div>
            </a>    
            </section>
        </main>


      <%- include('partials/footer') %>
    
</body>
</html>