body{
    margin: 0;
}

/* header footer y index */

body  header{
    background-color:#323233;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

    body  header .left{
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    body  header .left a img{
        width: 160px;
        padding: 15px;
        margin-bottom: 20px;
    
    }

    body  header .left ul{
        display: inline-flex;
        align-items: center;
    }

    body  header .left ul li{
        margin: 10px;
    }

    body  header .left ul li a{
        color: rgb(184, 184, 184);
        font-size: 24px;
        text-decoration: none;
    }

    body  header .right{
        margin: 20px;
        display: flex;
        justify-content: flex-start;
    }

    body  header .right i{
        align-self: center;
        font-size: 36px;
        background-color: teal;
        padding: 20px;
        color: rgb(184, 184, 184);
        border-radius:50% ;
        margin-right: -30px;
    }


    body  header .right ul{
        display: inline-flex;
        align-items: center;
    }

    body  header .right ul li{
        margin: 10px;
    }

    body  header .right ul li a{
        color: rgb(184, 184, 184);
        font-size: 24px;
        text-decoration: none;
    }

    body main {
        background-color: #1E1E1E;
        padding: 50px;
    }


    body main #main{
        padding-top:40px ;
        margin: 0;
        text-align: center;
        color: rgb(184, 184, 184);
    }

    body main .cards{
        display: flex;
        justify-content: center;
    }

    body main .cards .card{
        background-color: rgb(210,210,210);
        width: 400px;
        padding: 60px;
        margin: 60px;
        text-align: center;
        text-decoration: none;
        border-radius: 30px;
    }

    body main .cards a{
        text-decoration: none;
    }
    body main .cards .card i{
        font-size: 178px;
        margin: 20px;
        padding: 20px;
        color: #1E1E1E;    
    }
    body main .cards .card  h1{
        color: #1E1E1E; 
        font-size: 48px;   
        text-decoration: none;
    }

    body footer{
    background-color:#323233;
    height: 160px;
    text-align: center;
    color: white;
    align-content: flex-end;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    }
    body footer span{
        position: relative;
        padding: 5px;
    }


    /*log in */

    body main .login{
        background-color: teal;
        display: flex;
        flex-direction: column;
        margin: 110px auto;
        padding: 90px 40px;
        width: 500px;        
        border-radius: 30px;
    }

    body main .login h1{
        padding: 0;
        text-align: center;
        margin-top: -20px;
        padding: 10px;
        color:black;
        font-weight: 700;  
      
    }


    body main .login input{
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid black;
        background-color:white;
        color: black;
        font-weight: 700;
        opacity: 100;


    }

    body main .login a{
        margin: 0 10px;
        padding: 10px;
    }

    body main .login button{
        text-align: center;
        margin: 0 10px;
        padding: 10px;
        width: 200px;
        align-self: center;
        justify-self: center;
        border-radius: 10px;
        border: 2px solid black;
        background-color: white;
        color:black;
        font-weight: 700;        
    }

    body main .login .error{
        margin: 0 10px;
        padding: 0;
        color: rgb(117, 48, 48);
        font-size: 20px;
        font-weight: bold;
    }

    body main .login label{
        margin: 0 10px;
        padding: 10px;
        color:black;
        font-weight: 700;  
        font-size: 18px;
    }

    body main .login select{
        text-align: center;
        margin: 0 10px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid black;
        background-color: white;
        color:black;
        font-weight: 700;  
    }

    /*style search*/

    body main #byCar{
        text-align: center;
        margin: 0;
        padding: 0;
        color:rgb(220,220,220);
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 36px;
        font-weight: bold;
    }
    body main #byCar a{
        color: rgb(220,220,220);
        background-color: teal;
        padding: 15px;
        border-radius: 50%;

    }
   

    body main .blocks {
        display: flex;
        flex-wrap: wrap;
        background-color: teal;
        padding: 30px;
        margin: auto;
        border: 2px solid black;
        border-radius: 10px;
    }
    
    body main .blocks .block{
        padding: 20px;
        margin: 10px;
        border: 1pxs solid black;
        border-radius: 10px;
        background-color:#323233;
        text-align: center;
        color: rgb(230,230,230);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    body main .blocks .block img{
        margin-top: 10px;
        max-height: 100px;
        justify-self: center;
        text-align: center;

    }

  