<head>
    <%- include('../partials/head') %>

</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <form action = "/user/create" method="POST" class = "login">
            <h1>Log In</h1>
            <input type = "email" name = "email" placeholder="Ingrese email">
            <input type="password" name="password" placeholder="Ingrese contraseña">
            <input type ="password" name = "passcheck" placeholder="Vuelva a ingresar la contraseña">
            <label for ="usertype">Seleccione tipo de ususario:</label>
            <select name = "usertype">
                <option name = "admin" >Admin</option>
                <option name = "user">User</option>
            </select>
            <a href = "#">Ya tengo una cuenta</a>
            <button type="submit">Registrar</button>
        </form>

    </main>


    <%- include('../partials/footer') %>
</body>